.noProgramms {
    text-align: center;
    margin: auto;
    margin-top: 25%;
    font-weight: 800;
    padding: 20px;
    background-color: white;
}
.programmsContainer {
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}